<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5">
    <title>Random Number</title>
</head>
<body>

<center>
<h1>Random Number Generator  : BY PRIYANG BHATT</h1>
       <marquee  direction="up" height="80" behavior="alternate"><h1 align="center"> 
       <font color="red">Random Number Generator </font></h1></marquee>
    <fieldset bordercolor="green">
    <legend>Random Number:</legend>	

<p> <h1 style="color:blue;">{{ random_number }}</h1> </p>

</fieldset>
	    
    </form> 
    <center>

</body>
</html>